.page-item:first-child .page-link {
  margin-left: 10;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.page-item:last-child .page-link {
   margin-right: 10;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}