// Colors

$white: #fff;
$platinum: #e6e7e7;
$lightgray: #d1d1d1;
$fuzzywuzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;
$erieblack: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;


// Fonts

$playfair: 'Playfair Display';
$roboto: 'Roboto', sans-serif;


// Font Size

$xx-large: 70px;
$x-large: 30px;


// Font Weight

$font-regular: 400;
$font-black: 900;


// Bordes redondeados
$rounded: 30px;

//Borde paginator
$borderpaginator: 50px 50px 50px 50px;