.post__content__date {
	font-family: $playfair;
	font-weight: $font-regular;
	color: $nickel;
}

.post__content__entry{
	font-family: $roboto;
	font-weight: lighter;
	color: $nickel;
}

.btn {
	background-color: $nickel;
	color: $white;
}

.btn :hover{
	background-color: $ruddypink;

}

