.post__content__date {
	font-family: $playfair;
	font-weight: $font-regular;
	color: $nickel;
}

.post__content__entry{
	font-family: $roboto;
	font-weight: lighter;
	color: $nickel;
}

.btn-secondary {
	background-color: $nickel;
	color: white;
}

.btn-secondary :hover {
	background-color: $platinum;
	color: white;
}