.paginator {
	background-color: $platinum;
} 

.paginator-border {
border-radius: $borderpaginator
}


.page-link {
	color: $erieblack;
}

.page-item :hover {
	background-color: $erieblack;
	color: white;

	
}
